<!-- Website for Dads Football -->

<!DOCTYPE HTML>

<html lang = "en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0">
	<title>Goodwin Football</title>
	<!-- Stylesheet -->
	<link rel="stylesheet" href="stylesheet.css">
	<!-- JavaScript file -->
	<script src="script.js" defer></script>
</head>
<body>
	<div class='scrolldown-container'>
		<h1 class="logo"><a href="GoodwinFootball.html" class='logo-link'>The Bell House Premier League</a></h1>
	</div>
	<h2>Sam</h2>
	<div class="everything-container"> 
		<h2 class="prediction-header">Enter your predictions for the next 5 games:</h2>
		<br>
		<h3 class='match-date'>Saturday 6th April</h3>
		<br>
		<div class='match-container'>
			<div class='teaminfo'>
				<img src='logos/villalogo.jpg' alt='Aston Villa' class='villa-logo'> 
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Aston Villa</p>
			</div>
			<div class='middle-container'>
				<select>
					<option value='...'>v</option>
					<option value='Win'>Win</option>
					<option value='Draw'>Draw</option>
					<option value='Loss'>Loss</option>
				</select>			
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Brentford</p>
			</div>
			<div class='teaminfo'>
				<img src="logos/brentfordlogo.jpg" alt='Brentford' class='brentford-logo'>
			</div>
		</div>
		<div class='match-container'>
			<div class='teaminfo'>
				<img src='logos/unitedlogo.jpg' alt='Manchester United' class='united-logo'>
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Manchester United</p>
			</div>
			<div class='middle-container'>
				<select>
					<option value='...'>v</option>
					<option value='Win'>Win</option>
					<option value='Draw'>Draw</option>
					<option value='Loss'>Loss</option>
				</select>			
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Liverpool</p>
			</div>
			<div class='teaminfo'>
				<img src="logos/liverpoollogo.jpg" alt='Liverpool' class='liverpool-logo'>
			</div>
		</div>
		<div class='match-container'>
			<div class='teaminfo'>
				<img src='logos/palacelogo.jpg' alt='Crystal Palace' class='palace-logo'>
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Crystal Palace</p>
			</div>
			<div class='middle-container'>
				<select>
					<option value='...'>v</option>
					<option value='Win'>Win</option>
					<option value='Draw'>Draw</option>
					<option value='Loss'>Loss</option>
				</select>			
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Manchester City</p>
			</div>
			<div class='teaminfo'>
				<img src="logos/citylogo.jpg" alt='Manchester City' class='city-logo'>
			</div>
		</div>
		<div class='match-container'>
			<div class='teaminfo'>
				<img src='logos/brightonlogo.jpg' alt='Brighton' class='brighton-logo'>
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Brighton</p>
			</div>
			<div class='middle-container'>
				<select>
					<option value='...'>v</option>
					<option value='Win'>Win</option>
					<option value='Draw'>Draw</option>
					<option value='Loss'>Loss</option>
				</select>			
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Arsenal</p>
			</div>
			<div class='teaminfo'>
				<img src="logos/arsenallogo.jpg" alt='Arsenal' class='arsenal-logo'>
			</div>
		</div>
		<div class='match-container'>
			<div class='teaminfo'>
				<img src='logos/lutonlogo.jpg' alt='Luton Town' class='luton-logo'>
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Luton Town</p>
			</div>
			<div class='middle-container'>
				<select>
					<option value='...'>v</option>
					<option value='Win'>Home</option>
					<option value='Draw'>Draw</option>
					<option value='Loss'>Away</option>
				</select>			
			</div>
			<div class='teaminfo'>
				<p class='teamtext'>Bournemouth</p>
			</div>
			<div class='teaminfo'>
				<img src="logos/bournemouthlogo.jpg" alt='Bournemouth' class='bournemouth-logo'>
			</div>
		</div>
	</div>
